*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box; /*Considerar tudo como tamanho total, margin, border e padding*/
}

/* Técnica Mobile First - 1º Mobile e depois estilo para página grande
reescreve muito menos */
body {
    background-color: #f6f8fc;
}

.content{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ffffff;
}

@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
    }
}

.card {
    cursor: pointer;
}

.info-box {
    display: none; /* Começa invisível */
    position: fixed;
    text-transform: capitalize;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.escondida{
    display: none;
}

@media screen and (max-width: 380px) {
    .info-box {
        width: 75%;
    }
    .info-box img{
        width: 100%;
    }

}

@media screen and (max-width: 576px) {
    .info-box {
        width: 75%;
    }
    .info-box img{
        width: 100%;
    }
    
}
